/apidoc
/.hpc
/coverage

/man/*.1
/man/*.html

/doc/*.html

*.o
*.patch
*.diff
*.hi
*.hp
*.ps

TAGS
README.html
NEWS.html

hbal
hscan
hail
hspace
test
*.prof*
*.stat
*.tix

version
Version.hs

*.tar.gz
*.tar.gz.asc
